.noimg {
  height: 50px;
  padding: 11px 0;
}
.navbar-brand {
  padding: 15px 16px;
}
.navbar-brand .noimg {
  padding: 18px 0;
}
@media (max-width: 767px) {
  .navbar-brand .noimg {
    padding: 0;
  }
}
.navbar-fixed-top .navbar-nav li {
  text-align: center;
}
.navbar-fixed-top .navbar-nav li img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .navbar-fixed-top .navbar-nav li a span {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-fixed-top .navbar-nav li a {
    padding: 15px 7px;
  }
  .navbar-fixed-top .navbar-nav li a img {
    width: 39px;
  }
}
.page-title {
  margin-top: 20px;
  margin-bottom: 10px;
}
#schedule {
  border-left: 1px solid;
  border-top: 1px solid;
  display: flex;
  flex-wrap: wrap;
}
#schedule .time,
#schedule .topic {
  border-bottom: 1px solid;
  border-right: 1px solid;
  padding: 5px;
  text-align: center;
}
#schedule .time {
  flex: 0 1 8%;
}
#schedule .topic {
  flex: 1 1 23%;
}
#schedule .topic.common {
  flex: 1 1 92%;
}
#schedule .topic.row2 {
  border-bottom: 0;
}
#schedule .track {
  display: none;
}
@media (max-width: 768px) {
  #schedule {
    flex-direction: column;
  }
  #schedule .time,
  #schedule .topic,
  #schedule .topic.common {
    flex: 1 1 auto;
  }
  #schedule .track {
    background-color: #ff0;
    display: inline-block;
  }
}
.speaker-info {
  cursor: pointer;
}
.social-network {
  font-size: 32px;
}
.social-network .twitter-color {
  color: #4099ff;
}
span.lang {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  margin: 5px;
  font-size: 12px;
  line-height: 1;
  color: #111;
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid;
  border-color: #008000;
}
span.lang.interpreted {
  background: #ddd;
  border-color: #008000;
}
.modal-dialog {
  text-align: left;
}
.modal-header img {
  width: 15%;
  height: 15%;
}
.staff-group {
  margin: 10px;
  margin-bottom: 30px;
  font-size: 18px;
}
.staff-group-name {
  font-weight: 900;
  background: #f00;
  color: #fff;
}
.staff-item,
.staff-group-name {
  padding: 1px 3px;
  text-align: center;
}
.staff-group-0 .staff-group-name,
.staff-group-5 .staff-group-name,
.staff-group-10 .staff-group-name {
  background: #ff6a71;
}
.staff-group-1 .staff-group-name,
.staff-group-6 .staff-group-name {
  background: #c2c1c0;
}
.staff-group-2 .staff-group-name,
.staff-group-7 .staff-group-name {
  background: #d48bc2;
}
.staff-group-3 .staff-group-name,
.staff-group-8 .staff-group-name {
  background: #77cbb9;
}
.staff-group-4 .staff-group-name,
.staff-group-9 .staff-group-name {
  background: #ffa800;
}
