html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#logo {
  padding: 0 15px;
}
.ui.menu .active.item {
  letter-spacing: 2px;
}
.ui.menu .active.item i {
  margin-right: 10px;
}
