.noimg
  height: 60px
  padding: 20px 0

.navbar-brand
  padding: 15px 16px
  .noimg
    padding: 18px 0

@media (max-width: 767px)
  .navbar-brand .noimg
    padding: 0

.navbar-fixed-top .navbar-nav li 
  text-align: center
  img
    width: 60px
    height: 60px

@media (min-width: 768px) and (max-width: 992px)
  .navbar-fixed-top .navbar-nav li a
    padding: 15px 7px
    img
      width: 39px

.page-title
  margin-top: 20px
  margin-bottom: 10px

#schedule
  display flex
  .time
    padding 5px
  .topic
    flex 1 1 25%
    padding 5px
  .track
    display none

@media (max-width: 768px)
  #schedule
    flex-direction column
    .topic
      flex 1 1 auto
    .track
      background-color yellow
      display inline-block
