.noimg
  height: 60px
  padding: 20px 0

.navbar-brand
  padding: 15px 16px
  .noimg
    padding: 18px 0

@media (max-width: 767px)
  .navbar-brand .noimg
    padding: 0

.navbar-fixed-top .navbar-nav li 
  text-align: center
  img
    width: 60px
    height: 60px

@media (min-width: 768px) and (max-width: 992px)
  .navbar-fixed-top .navbar-nav li a
    padding: 15px 7px
    img
      width: 39px

