.noimg
  height: 60px
  padding: 20px 0

.navbar-brand
  padding: 15px 16px
  .noimg
    padding: 18px 0

@media (max-width: 767px)
  .navbar-brand .noimg
    padding: 0

.navbar-fixed-top .navbar-nav li 
  text-align: center
  img
    width: 50px
    height: 50px
    margin-right: 5px

@media (min-width: 768px) and (max-width: 1280px)
  .navbar-fixed-top .navbar-nav li a span
    display: none

@media (min-width: 768px) and (max-width: 992px)
  .navbar-fixed-top .navbar-nav li a
    padding: 15px 7px
    img
      width: 39px

.page-title
  margin-top: 20px
  margin-bottom: 10px

#schedule
  border-left 1px solid
  border-top 1px solid
  display flex
  flex-wrap wrap
  .time, .topic
    border-bottom 1px solid
    border-right 1px solid
    padding 5px
    text-align center
  .time
    flex 0 1 8%
  .topic
    flex 1 1 23%
    &.common
      flex 1 1 92%
    &.row2
      border-bottom 0
  .track
    display none

@media (max-width: 768px)
  #schedule
    flex-direction column
    .time, .topic, .topic.common
      flex 1 1 auto
    .track
      background-color yellow
      display inline-block

span.fui-user
  padding-right: 5px

span.lang
  display inline-block
  min-width 10px
  padding 3px 7px
  margin 5px
  font-size 12px
  line-height 1
  color #111
  text-align center
  white-space nowrap
  border-radius 5px
  border: 1px solid
  border-color: green
  &.interpreted
    background: #ddd
    border-color: green
