extends ../layout/base
block body
    section.intro
      .intro-body
        .container
          .row
            .col-md-12
              .wrapper
                div(style='position:absolute;left:160px;top:240px;width:400px')
                  h4(style='color:#383838;') 
                    img(src='/images/icons/png/s-map.png', align='middle') 
                    |  Academia Sinica, Taipei, Taiwan
                  h4(style='color:#383838;') 
                    img(src='/images/icons/png/s-date.png', align='middle') 
                    |  Nov 8th, 2014 - Nov 9th, 2014
              img.img-responsive(src='../images/main-en.png')
              div(style='font-size:1.5em;color:#383838;margin-bottom:5px;font-weight:900')  Registration for: 
              a.btn.btn-warning.btn-lg.btn-block(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-con-nor', target='_blank')
                i.fa.fa-ticket
                b  11/8 Conference
              br
              a.btn.btn-warning.btn-lg.btn-block(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-unconf', target='_blank')
                i.fa.fa-ticket
                b  11/9 Unconference
    section#about
      .content-section.container
        .row
          .col-lg-12
            h1 About g0v
            p
              | g0v is a civic-tech community established in late 2012 with deep open-source roots.  More than 1,000 volunteer contributors built a variety of civic-based tools at 10 major hackathons, making g0v among the largest active civic groups in Asia&mdash;not just as a community but as the very spirit of building technology and helping other communities make pragmatic changes.  For more information about g0v, 
              a(href='http://g0v.asia/tw/', target='_blank') read the story
              | .
            h1 Information
            h3 Conference
            p We are expecting 700 participants and speakers from 9 countries.  There will be 29 session in 4 parallel tracks.
            p 
              | 4 of the 8 tracks will have bilingual live interpretation: &nbsp;
              a(href='http://summit.g0v.tw/en-US/schedule.html', target='_blank') Program Details
            p
              br
              |                 Date: November 8, 2014 0900-1700
              br
              |                 Location: Humanities &amp; Social Sciences Building, Academia Sinica
              br
              |               Registration:
            p.text-center
              a.btn.btn-warning.btn-lg(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-con-nor', target='_blank')
                i.fa.fa-ticket
                b  11/8 Conference
              |  
              a.btn.btn-warning.btn-lg(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-unconf', target='_blank')
                i.fa.fa-ticket
                b  11/9 Unconference
            h3 Unconference
            p
              br
              |                 Date: November 9, 2014 0900-1800
              br
              | Location: Institute of Information Science Building, Academia Sinica
            p
              a(href="mailto:g0v-summit-committee@googlegroups.com") Contact Us
              br
              |              Organizer : g0v.tw
