doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='SHORTCUT ICON', href='/g0v.ico')
    title g0v Summit 2014
    // Bootstrap Core CSS
    link(href='../css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // Fonts
    link(href='../font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    // Custom Theme CSS
    link(href='../css/grayscale.css', rel='stylesheet')
    // for countdown js/css
    link(href='../css/media.css', rel='stylesheet', type='text/css')
  body#page-top(data-spy='scroll', data-target='.navbar-custom')
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars
          a.navbar-brand(href='#page-top')
            i.fa.fa-play-circle
            span.light  g0v
            |  Summit 2014
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#about')
                span.glyphicon.glyphicon-exclamation-sign
                |  About
            li.page-scroll
              a(href='#inv')
                span.glyphicon.glyphicon-comment
                |  Invitation
            li.page-scroll
              a(href='#trip')
                span.glyphicon.glyphicon-plane
                |  Travel tips
            li.page-scroll
              a(href='/zh-TW/index.html')
                span.fa.fa-globe
                |  中文
        // /.navbar-collapse
      // /.container
    section.intro
      .intro-body
        .container
          .row
            .col-md-12
              .wrapper
                div(style='position:absolute;left:160px;top:240px;width:400px')
                  h4(style='color:#383838;')
                    img(src='/images/icons/png/s-map.png', align='middle')
                    |  Academia Sinica, Taipei, Taiwan
                  h4(style='color:#383838;')
                    img(src='/images/icons/png/s-date.png', align='middle')
                    |  Nov 8th, 2014 - Nov 9th, 2014
                  div(style='font-size:1.5em;color:#383838;margin-bottom:5px;font-weight:900')  Registration for:
                  a.btn.btn-warning.btn-lg.btn-block(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-con-vip', target='_blank')
                    i.fa.fa-ticket
                    b  VIP and Early Bird with Invite Code
                  br
                  a.btn.btn-warning.btn-lg.btn-block(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-inter-eb', target='_blank')
                    i.fa.fa-ticket
                    b  International Early Bird Program
              img.img-responsive(src='../images/main-en.png')
            .page-scroll
              a.btn.btn-circle(href='#about')
                i.fa.fa-angle-double-down.animated
    section#about
      .content-section.container
        .row
          .col-lg-12
            h1 about
            p
              | g0v is a civic-tech community established in late 2012 with deep open-source roots.  More than 1,000 volunteer contributors built a variety of civic-based tools at 10 major hackathons, making g0v among the largest active civic groups in Asia&mdash;not just as a community but as the very spirit of building technology and helping other communities make pragmatic changes.  For more information about g0v,
              a(href='http://g0v.asia/tw/', target='_blank') read the story
              | .
            p#inv &nbsp;
            h1 Information
            p
              | Conference
              br
              |                 Date: November 8, 2014 0900-1700
              br
              |                 Location: Humanities &amp; Social Sciences Building, Academia Sinica
              br
              |                 Agenda: 
              a(href='http://summit.g0v.tw/schedule.html', target='_blank') http://summit.g0v.tw/schedule.html
              br
              |               Registration:
            p.text-center
              a.btn.btn-warning.btn-lg(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-con-vip', target='_blank')
                i.fa.fa-ticket
                b  VIP and Early Bird with Invite Code
              |  
              a.btn.btn-warning.btn-lg(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-inter-eb', target='_blank')
                i.fa.fa-ticket
                b  International Early Bird Program
            p
              | Unconference
              br
              | Date: November 9, 2014 0900-1800
              br
              | Location: Institute of Information Science Building, Academia Sinica
              br
              | Registration: Coming soon
              br
              span(style='font-size: 0.8em;margin-left: 20px')
                | Note: You won&apos;t need the registration of unconference if you apply for VIP / Early Bird with the unconference option.
            p
              | Contact Us : Hsin-Chan Chien (
              span(onclick="document.location='mailto:hcchien@gmail.com?subject=summit松贊助';") hcchien@gmail.com
              |  )
              br
              |              Organizer : g0v.tw
    section#trip
      .content-section.sch
        .download-section
          .container
            .col-lg-12
              h1 Taiwan Travel Tips
              p
                | Welcome to Taiwan, here are some quick travel tips I want to share. I hope this document will help you have a comfortable and convenient experience here.
              p
                | If you need further information, you can refer to following links to explore.
                br
                | Tripadvisor：
                a(href='http://www.tripadvisor.com/Tourism-g293910-Taiwan-Vacations.html', target='_blank') http://www.tripadvisor.com/Tourism-g293910-Taiwan-Vacations.html
                br
                | Travel King：
                a(href='http://www.travelking.com.tw/eng/tourguide/taipei/', target='_blank') http://www.travelking.com.tw/eng/tourguide/taipei/
                br
                | Wikitravel：
                a(href='http://wikitravel.org/en/Taiwan', target='_blank') http://wikitravel.org/en/Taiwan
              h3 Airport
              p
                a(href='http://www.taoyuan-airport.com/english/Index/', target='_blank') Taiwan Taoyuan International Airport (TPE) &nbsp;
                | is an international airport serving the capital city of Taiwan, Taipei. It has two terminals and free airport WIFI. Mobile & internet service as well as ground transportation are easy to get in any terminals.
              p
                span.glyphicon.glyphicon-star
                |  Mobile & Internet Service
                br
                Telecom companies are situated at arrival hall. For foreign visitors, you are required to present two documents with photos for getting a prepaid SIM card. The shop will make a photocopy of your IDs. Those telecom companies offer quite similar packages; I recommend Taiwan Mobile as the first choice and Chunghwa Telecom as the second one. Both of them offer 3-day package for NT$300 ( includes 3-day unlimited 3G data usage and NT$100 worth of airtime ) and 5-day package for NT$300 ( includes 5-day unlimited 3G data usage and NT$50 worth of airtime ). Those data plans are only available in airport, which I highly recommend to get your prepaid SIM card before you leave airport.
                .alert.alert-danger
                  | * SIM cards are available in both standard sizes and micro-SIMs for iOS devices.
              p
                span.glyphicon.glyphicon-star
                |  Ground Transportation to Taipei City
                br
                b Bus
                br
                | Frequent buses link the airport to the main cities. It’s the most economical way to get to Taipei.
                br
                b Rail
                br
                | TPE airport is close to the High Speed Rail Taoyuan station, which is generally the preferred method of transit for travelers because of its speed. You can catch a 5-minute shuttle bus from airport to the high speed rail station which travels to Taipei Main Station in 20 minutes, then transfer to the MRT (Metro Rapid System) from there.
                br
                b Taxi
                br
                | Taxi queues are outside the arrival halls of both terminals and are available 24 hours a day. A taxi from the airport to the city center will be around NT$1,200. The actual fares may vary depending on traffic.
                br
                b Car rental
                br
                | Car rentals are available at both terminals.
              h3 Taipei City Tours
              p
                b One day pakeage 1
                br
                Taipei 101→Songshan Cultural and Creative Park →Tonghua Night Market
              h3 Taipei 101
              p
                a(href='http://www2.taipei-101.com.tw/en/Tower/index_tower.asp', target='_blank') http://www2.taipei-101.com.tw/en/Tower/index_tower.asp
                br
                |  Address: No.7, Sec.5, Xin Yi Rd. Taipei,
                br
                |  Shopping mall opening hours: Mon-Fri 11:00-21:30 / Sat-Sun 11:00-22:00
                br
                |  Observation deck opening hours: Mon-Sun 9:00-22:00
              p
                | Taipei 101 (traditional Chinese:台北101), is a landmark skyscraper located in Xinyi District, Taipei, Taiwan. The building ranked officially as the world's tallest from 2004 until the opening of the Burj Khalifa in Dubai in 2010.
              p
                | Ticket sales are on the 5th floor of the Taipei 101 Shopping Mall. The pressure-controlled lift up is quite a rush; at 1010m per minute it takes a mere 40 seconds to get from ground level to the 89th-floor observation deck. Observation decks are on the 88th and 89th floors, with an outdoor deck on the 91st floor opened on some occasions, weather permitting. Don't miss the massive gold-coloured iron wind damper that keeps the tower stable through typhoons and earthquakes.
              p
                | In the basement is a decent food court, and the first five floors are taken up by one of Taipei's swankiest malls. There are lot of department stores, modern restaurants and bars around this area, don't miss these.
              h3 Songshan Cultural and Creative Park  松山文化創意園區
              p
                a(href='http://www.songshanculturalpark.org/en/index.html', target='_blank') http://www.songshanculturalpark.org/en/index.html
                br
                |  Address: No. 133, Guangfu South Road, Xinyi District, Taipei.
                br
                |  Opening times depend on which area you are going to visit, please visit the website for the further information.
              p
                | Songshan Cultural and Creative Park was built on the historic site as a production base for designers and cultural & creative businesses, as well as a venue for performances and exhibitions.
              h3 Tonghua Night Market (Linjiang St. Night Market)通化街夜市 (臨江街夜市)
              p
                | Tonghua Street Night Market (sometimes also Linjiang Street Night Market), is a popular tourist night market in Taipei, located close to Taipei's landmark building Taipei 101 in the Xinyi commercial district .
              p
                | The food is more or less same as on most night markets in Taipei. You will see the salty chicken (鹹水雞) and the marinade (滷味), the fried stinky tofu (臭豆腐), all kinds of fried chickens (鹽酥雞), sausages, steaks, bubble tea shops(also pearl tea shops, 珍珠奶茶) and fruit stalls. My personal recommendations are the sausage in rice wrap 大腸包小腸 (literally "big sausage wrapping a small sausage"). I also loved the fried stinky tofu (一口金酥臭豆腐, literally "one bite golden crispy stinky tofu") and bubble tea(珍珠奶茶), which is a Taiwanese tea-based drink.
              p
                b One day pakeage 2
                br
                National Palace Museum→Beitou Hot Spring Museum
              h3 National Palace Museum 國立故宮博物院
              p
                a(href='http://www.npm.gov.tw/en/', target='_blank') http://www.npm.gov.tw/en/
                br
                |  Address: No. 221, Section 2, Zhishan Road, Shihlin District, Taipei City
                br
                |  opening hours: 08:30 to 18:30, all year round.
              p
                | The National Palace Museum is an antique museum in Shilin, Taipei, Taiwan. It is one of the national museums of the Republic of China, and has a permanent collection of more than 696,000 pieces of ancient Chinese artifacts and artworks, making it one of the largest in the world. The collection encompasses over 8,000 years of Chinese history from the Neolithic age to the late Qing Dynasty. Most of the collection are high quality pieces collected by China's ancient emperors.
              h3 Beitou Hot Spring Museum 北投溫泉博物館
              p
                a(href='http://www.taipeisprings.org.tw/english/index/index.htm', target='_blank') http://www.taipeisprings.org.tw/english/index/index.htm
                br
                |  Address: No. 2, Zhongshan Rd. Taipei.
                br
                |  opening hours: 09:00~17:00 Tue.-Sun.;Closed Monday and national holidays
              p
                | Built in 1913, the Beitou Hot Spring Museum was originally the Beitou Public Bathhouse, the largest bathhouse in the East Asia at the time. Now it serves to recount Beitou’s hot spring history. The whole building resembles an English country house. It marks the beginning of Beitou’s hot spring era. On display are historical relics and documents, which tell stories of the sulfur mining, the hot spring and Taiwanese films, providing the public a window to Beitou.
              p
                | You can have hot spring around this area after visit this museum, I recommend villa 32 or Spring City Resort.
    // Core JavaScript Files
    script(src='../js/jquery-1.10.2.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/jquery.easing-1.3.min.js')
    // Custom Theme JavaScript
    script(src='../js/grayscale.js')
