doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='SHORTCUT ICON', href='/g0v.ico')
    title g0v Summit 2014
    // Bootstrap Core CSS
    link(href='../css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // Fonts
    link(href='../font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    // Custom Theme CSS
    link(href='../css/grayscale.css', rel='stylesheet')
    // for countdown js/css
    link(href='../css/media.css', rel='stylesheet', type='text/css')
  body#page-top(data-spy='scroll', data-target='.navbar-custom')
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars
          a.navbar-brand(href='#page-top')
            i.fa.fa-play-circle
            span.light  g0v
            |  Summit 2014
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#about')
                span.glyphicon.glyphicon-exclamation-sign
                |  About
            li.page-scroll
              a(href='#inv')
                span.glyphicon.glyphicon-comment
                |  Invitation
            li.page-scroll
              a(href='/zh-TW/index.html')
                span.fa.fa-globe
                |  中文
        // /.navbar-collapse
      // /.container
    section.intro
      .intro-body
        .container
          .row
            .col-md-12
              .wrapper
                div(style='position:absolute;left:160px;top:240px;width:400px')
                  h4(style='color:#383838;') 
                    img(src='/images/icons/png/s-map.png', align='middle') 
                    |  Academia Sinica, Taipei, Taiwan
                  h4(style='color:#383838;') 
                    img(src='/images/icons/png/s-date.png', align='middle') 
                    |  Nov 8th, 2014 - Nov 9th, 2014
                  div(style='font-size:1.5em;color:#383838;margin-bottom:5px;font-weight:900')  Registration for: 
                  a.btn.btn-warning.btn-lg.btn-block(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-con-vip', target='_blank')
                    i.fa.fa-ticket
                    b  VIP and Early Bird with Invite Code
                  br
                  a.btn.btn-warning.btn-lg.btn-block(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-inter-eb', target='_blank')
                    i.fa.fa-ticket
                    b  International Early Bird Program
              img.img-responsive(src='../images/main-en.png')
            .page-scroll
              a.btn.btn-circle(href='#about')
                i.fa.fa-angle-double-down.animated
    section#about
      .content-section.container
        .row
          .col-lg-12
            h1 about
            p
              | g0v is a civic-tech community established in late 2012 with deep open-source roots.  More than 1,000 volunteer contributors built a variety of civic-based tools at 10 major hackathons, making g0v among the largest active civic groups in Asia&mdash;not just as a community but as the very spirit of building technology and helping other communities make pragmatic changes.  For more information about g0v, 
              a(href='http://g0v.asia/tw/', target='_blank') read the story
              | .
            p#inv &nbsp;
            h1 Information
            p
              | Conference
              br
              |                 Date: November 8, 2014 0900-1700
              br
              |                 Location: Humanities &amp; Social Sciences Building, Academia Sinica
              br
              |                 Agenda: 
              a(href='http://summit.g0v.tw/schedule.html', target='_blank') http://summit.g0v.tw/schedule.html
              br
              |               Registration:
            p.text-center
              a.btn.btn-warning.btn-lg(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-con-vip', target='_blank')
                i.fa.fa-ticket
                b  VIP and Early Bird with Invite Code
              |  
              a.btn.btn-warning.btn-lg(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-inter-eb', target='_blank')
                i.fa.fa-ticket
                b  International Early Bird Program
            p
              | Unconference
              br
              |                 Date: November 9, 2014 0900-1800
              br
              | Location: Institute of Information Science Building, Academia Sinica
              br
              |                 Registration: Coming soon
              br
              span(style='font-size: 0.8em;margin-left: 20px')
                | Note: You won&apos;t need the registration of unconference if you apply for VIP / Early Bird with the unconference option.
            p
              | Contact Us : Hsin-Chan Chien ( 
              span(onclick="document.location='mailto:hcchien@gmail.com?subject=summit松贊助';") hcchien@gmail.com
              |  )
              br
              |              Organizer : g0v.tw
    // Core JavaScript Files
    script(src='../js/jquery-1.10.2.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/jquery.easing-1.3.min.js')
    // Custom Theme JavaScript
    script(src='../js/grayscale.js')
