// Footer
footer
  .row
    .col-lg-12
      h6 合辦單位：
      .row
        .col-xs-3
          img.img-thumbnail(src='//hslib.sinica.edu.tw/sites/default/files/sociologyicon.jpg')
          | 中央研究院社會學研究所
        .col-xs-3
          img.img-thumbnail(src='/images/sponsor/ocf.png')
          | 開放文化基金會
      h6 感謝贊助：
      .row
        .col-xs-3
          img.img-thumbnail(src='/images/sponsor/footer-w.png')
          |  天氣風險管理開發公司
        .col-xs-3
          img.img-thumbnail(src='/images/sponsor/logo-hct.png')
          | 新竹物流
        .col-xs-3
          img.img-thumbnail(src='/images/sponsor/SunlightFoundation-logo.png')
          | Sunlight
        .col-xs-3
          img.img-thumbnail(src='/images/sponsor/netivism.png')
          | Netivism
        .col-xs-3
          img.img-thumbnail(src='/images/sponsor/logo-etu.png')
          | etu
  .row
    p.text-center Copyright © g0v Summit 2014 
  // /.row

