// Footer
footer
  .row
    .col-lg-12
      h6.text-center 合辦單位
      .col-xs-3
      .col-xs-3
        a(href='http://www.ios.sinica.edu.tw/', target='_blank')
          img.img-thumbnail(src='/images/sponsor/ios-logo.jpg')
          | 中央研究院社會學研究所
      .col-xs-3
        a(href='http://ocf.tw/', target='_blank')
          img.img-thumbnail(src='/images/sponsor/ocf.png')
          | 開放文化基金會
  .row
    .col-lg-12
      h6.text-center 特別感謝
      .col-xs-3
        a(href='http://www.hct.com.tw/', target='_blank')
          img.img-thumbnail(src='/images/sponsor/logo-hct.png')
          | 新竹物流
          br
          br
      .col-xs-3
        a(href='http://opendata.tca.org.tw/', target='_blank')
          img.img-thumbnail(src='/images/sponsor/tca.png')
          | 經濟部工業局-開放資料(Open Data)應用推動計畫
      .col-xs-3
        a(href='http://azure.microsoft.com/', target='_blank')
          img.img-thumbnail(src='/images/sponsor/azure.png',style="padding-top: 35px; padding-bottom: 35px;")
          | Azure：Microsoft 的國際級雲端平台
      .col-xs-3
        a(href='http://www.tenki.tw/company/', target='_blank')
          img.img-thumbnail(src='/images/sponsor/footer-w.png')
          | 天氣風險管理開發公司
          br
          br
      .col-xs-3
        a(href='http://netivism.com.tw/', target='_blank')
          img.img-thumbnail(src='/images/sponsor/netivism.png')
          | 網絡行動科技
          br
          br
      .col-xs-3
        a(href='http://www.kkbox.com/about/', target='_blank')
          img.img-thumbnail(src='/images/sponsor/kkbox.png')
          | KKBOX
      .col-xs-3
        a(href='http://www.etusolution.com/', target='_blank')
          img.img-thumbnail(src='/images/sponsor/logo-etu.png')
          | Etu
      .col-xs-3
        a(href='http://sunlightfoundation.com/', target='_blank')
          img.img-thumbnail(src='/images/sponsor/SunlightFoundation-logo.png')
          | 陽光基金會（美）
      .col-xs-3
        a(href='http://poplus.org/', target='_blank')
          img.img-thumbnail(src='/images/sponsor/poplus.png')
          | Poplus
      .col-xs-3
        a(href='https://www.facebook.com/pages/%E7%B6%93%E6%BF%9F%E6%B0%91%E4%B8%BB%E9%80%A3%E5%90%88/593374924100942?fref=ts', target='_blank')
          img.img-thumbnail(src='/images/sponsor/edu.gif')
          | 經濟民主連合（原名反黑箱服貿民主陣線）
  .row
    p.text-center Copyright © g0v Summit 2014 
      a(href="https://g0v.hackpad.com/ep/pad/static/2mprMIpYMz9", target="_blank") 與會守則 (Code of Conduct)
  // /.row

