// Footer
footer
  .row
    .col-lg-12
      h6 感謝贊助：
      .row
        .col-xs-3
          img.img-thumbnail(src='/images/sponsor/footer-w.png')
          |  天氣風險管理開發公司
        .col-xs-3
          img.img-thumbnail(src='/images/sponsor/logo-hct.png')
          | 新竹物流
        .col-xs-3
          img.img-thumbnail(src='/images/sponsor/SunlightFoundation-logo.png')
          | Sunlight
        .col-xs-3
          img.img-thumbnail(src='/images/sponsor/netivism.png')
          | Netivism
        .col-xs-3
          img.img-thumbnail(src='/images/sponsor/logo-etu.png')
          | etu
  .row
    p.text-center Copyright © g0v Summit 2014 合辦單位：
      img(src='/images/sociologyicon.jpg' style='width:120px;height:auto;')
  // /.row

