// Footer
footer
  .row
    .col-lg-12
      h6 感謝贊助：
      .row
        .col-xs-3
          img.img-thumbnail(src='/images/sponser/footer-w.png')
          |  天氣風險管理開發公司
        .col-xs-3
          img.img-thumbnail(src='/images/sponser/logo-hct.png')
          | 新竹物流
        .col-xs-3
          img.img-thumbnail(src='/images/sponser/SunlightFoundation-logo.png')
          | Sunlight
        .col-xs-3
          img.img-thumbnail(src='/images/sponser/netivism.png')
      p.text-center Copyright © g0v Summit 2014
  // /.row

