extends layout
block body
  header.title-header
    .container
      .row
        .col-md-4
          h2 #{tabName}
        .col-md-8.text-right
          block title
  // Page Content
  .container
    block content
