.root {
  display: block;
  position: absolute;
  right: 71px;
  top: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.94);
  width: 350px;
  padding-bottom: 1px;
  color: #000;
}

@media screen and (max-width: 715px) {
  .root {
    position: static;
    width: 100%;
    right: 0;
  }
}

.header {
  margin: 29px 0 0 0;
}
.range {
  margin: 22px 0 16px;
}

.title {
  font-size: 20px;
  font-weight: 200;
}

.links {
  color: #CB0031;
}
