.root {
  display: block;
  position: absolute;
  right: 71px;
  top: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.94);
  width: 350px;
  padding-bottom: 1px;
  color: #000;
}

.root article {
  margin: 20px;
  border: 2px solid #CB0031;
  border-radius: 20px;
  padding: 10px;
}

.header {
  margin: 29px 0 0 0;
}

.range {
  margin: 10px 0 10px;
}

.title {
  font-size: 20px;
  font-weight: 200;
}

.links {
  color: #CB0031;
  text-decoration: none
}

@media screen and (max-width: 715px) {
  .root {
    position: static;
    width: 100%;
    right: 0;
  }

  .header {
    margin: 0;
  }
}
