doctype html
html
  head
    meta(charset='utf-8')
    title g0v summit 2014 Icecast
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/flat-ui.css')
    style(type='text/css').
      iframe {
        width: 100%;
        height: 1000px;
        border: none;
        margin-left: 10px;
      }
      .channels .btn {
        margin: 5px 5px;
      }
  body
    h4.text-center 頻道連結
      .channels
        a.btn.btn-primary.link(href='/R0.html', target='_blank') Unconference 開放工作坊
        //a.btn.btn-primary.link(href='/R1.html', target='_blank') 第一會議室 - R1 
        //a.btn.btn-primary.link(href='/R2.html', target='_blank') 第二會議室 - R2 
    iframe(src='https://g0v.hackpad.com/ep/pad/static/6rgnfJyORtF')
    script(type='text/javascript', src='/js/vendor.js')
    script(type='text/javascript').
      $('.link').on('click',function(event){
        var title = $(event.target).text();
        window.open(event.target.href, title, 'width=320,height=100');
      });
