extends ../layout/base
block body
  // Note: The background image is set within the business-casual.css file.
  header.business-header
    .container.mainvi
      .row
        .col-md-6.col-xs-12
          img(src='/images/logo.png').img-responsive
          p  
          h5
            img(src='/images/icons/png/s-map.png', align='middle')
            |  台北市中研院人文館．中研院資訊所
          h5
            img(src='/images/icons/png/s-date.png', align='middle')
            |  2014/11/8． 2014/11/9
  // Page Content
  .container(style='margin-top:20px;')
    .row
      .col-sm-8
        h3 關於 g0v 年會
        p
          a(href='http://g0v.tw/zh-TW/index.html', target='_blank') g0v.tw
          |  從 2012 年 10 月開始，以數位世代的思維，以開源（open source）方式號召群眾參與著手開發新工具、新組織型態、新合作關係，運用科技力量促進政府透明化。在 318 太陽花運動期間更結合網路佈署、新媒體運用，讓開放透明理念化為實際行動。
        p
          | 經過近兩年的努力，從開放資料出發，透過開源社群促進開放政府的可能。在這條路上，g0v 社群與 NGO 、政府建立了多方互動。但改變需要更長遠的跨界交流，因此在今年初，我們開始籌備 g0v.tw Summit 零時政府年會，希望從多元面向探討運用科技與開源精神改變社會的可能。
        
        h3 年會活動
        P 
          | g0v Summit 2014 零時政府年會分為
          b 兩天兩場活動，獨立報名：

        p
          span.text-danger 
           b 第一天 11/8 的 Conference 國際研討會
          span.txt-danger 
           b ：邀請到來自八國長期關注開放政府運動的國際講者，以及國內政府公部門、NGO、媒體、資訊好手，並與中央研究院社會學研究所二十週年慶【跨世紀學運論壇】合辦，
             | 四軌同時進行共有 29 場演講，於中研院人文社會科學館進行。英文議程將有口譯。
             br 
             | 請參考：
             a(href='http://summit.g0v.tw/zh-TW/schedule.html') 零時政府年會完整議程。
        p  
          span.text-danger 
           b 第二天 11/9 將舉辦全天 Unconference 開放工作坊
          span.txt-danger
           b ：由參與者提案決定議程內容，以演講、討論、自由對話等各種形式腦力激盪創造新的協作空間
             | ，於中研院資訊科學研究所進行。
        p
           b ⎋ 兩個現場皆備有無線網路，可上網收聽口譯頻道。
           br
           b ⎋ 同時場次演講也可自由選擇，自由換場參加。
        h3 重要日期
        b ☞ VIP、g0v 社群貢獻票、國際早鳥票報名時間：
        | 即日起 - 9/30（邀請碼過期將失效）
        br
        b ☞ Conference 國際研討會報名：
          span.text-danger 
           //b 10/1 中午12點開始：
           //a(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-con-nor', target='_blank') 報名網址
           a.btn.btn-warning.btn-lg.btn-block(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-con-nor', target='_blank')
             i.fa.fa-ticket
             b  11/8 Conference 國際研討會報名 (TW$500, 10/1 中午開跑)
        br
        b ☞ Unconference 開放工作坊報名：
          span.text-danger 
           //b 10/1 晚間8點開始：
           //a(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-unconf', target='_blank') 報名網址
           a.btn.btn-warning.btn-lg.btn-block(href='http://g0v-tw.kktix.cc/events/g0v-summit-2014-unconf', target='_blank')
             i.fa.fa-ticket
             b  11/9 Unconference (免費, 10/1 晚間八點開跑)
        p
        h3 媒體聯繫
        | media contact: 
        a(href='mailto:joey.lee@gmail.com') Joey Lee
        |  (joey.lee@gmail.com)

    
      .col-sm-4
        h3  
        .todo
          .todo-search
            | 最新消息
          ul
            li
              .todo-icon.fui-eye
              .todo-content
                h4.todo-name
                  | 10/1 一般票報名起跑！
                  br
                | 11/8, 9 兩天活動報名分別在12點與20點報名。
                a(href='http://g0v-tw.kktix.cc/') 報名頁面>

            li
              .todo-icon.fui-eye
              .todo-content
                h4.todo-name
                  | 國際早鳥、社群貢獻者方案
                  br 
                  | 申請截止
                  br
                |                 將寄出邀請碼給符合資格的申請者，請申請者注意信箱。
            li
              .todo-icon.fui-eye
              .todo-content
                h4.todo-name
                  | 初步議程公布
                  br
                |                 最新議程表已上線。
                a(href='schedule.html') 議程表>
            li
              .todo-icon.fui-eye
              .todo-content
                h4.todo-name
                  | 徵求贊助
                  br
                  |                   台灣的未來需要您的參與
                |                   如果您的企業或組織，正期待以正面能量改變社會，歡迎一起來參與這場重要的高峰會，您的一份付出，將有可能讓台灣政府及社會邁向更開放、更前進的未來。
                a(href='sponsor.html') 贊助方案>
    include ../layout/footer.jade
  // /.container

