extends ../layout/base
block body
  // Note: The background image is set within the business-casual.css file.
  header.business-header
    .container.mainvi
      .row
        .col-md-6
          img(src='images/logo.png', width='519', height='205')
          p  
          h5
            img(src='images/icons/png/s-map.png', align='middle')
            |  台北市南港區中央研究院人文館
          h5
            img(src='images/icons/png/s-date.png', align='middle')
            |  2014/11/8
  // Page Content
  .container(style='margin-top:20px;')
    .row
      .col-sm-8
        h3 關於g0v高峰會
        p
          a(href='http://g0v.tw/zh-TW/index.html', target='_blank') g0v.tw
          |  自從 2012 年 10 月開始以來，已經發起過數十個專案，實際貢獻者也超過數百人。而從一開始著力於開放資料，開放源碼的幾位程式設計師發起的社群，也經由一些社會議題的參與，讓許多其他相關領域的人也加入貢獻 g0v 專案，包括設計師，插畫家，律師，以及記者，社會運動者等等。其中開放政治獻金的專案，便透過許多網路鄉民的群眾力量來進行。318太陽花運動期間更結合網路佈署、新媒體運用，讓開放透明的理念化為實際行動。
        p
          | 而經過這一年多來的努力，雖然 g0v 的專案漸漸被一些民眾看到，但其實我們卻發現，
          span.text-danger
            b 由資訊切入的社會參與，需要更多跨領域專業的協作，如環境相關專家、氣象專業人士、社運組織者、醫療專業等。
          | 除此之外，與政府的對話以及數位公民的參與，也是開放資料運動重要的環節。透過更多人的參與，才能讓許多開放資料有更實質的意義。因此在2014年年初，我們開始籌備 g0v.tw summit 2014，
          span.text-danger
            b 希望可以讓更多人透過了解開放開源的 g0v 核心概念，進而運用參與科技改變社會的社群力量。
      .col-sm-4
        h3  
        .todo
          .todo-search
            | 最新消息
          ul
            li
              .todo-icon.fui-eye
              .todo-content
                h4.todo-name
                  | 初步議程公布
                  br
                |                 最新議程表已上線。
                a(href='schedule.html') 議程表>
            li
              .todo-icon.fui-eye
              .todo-content
                h4.todo-name
                  | 徵求贊助
                  br
                  |                   台灣的未來需要您的參與
                |                   如果您的企業或組織，正期待以正面能量改變社會，歡迎一起來參與這場重要的高峰會，您的一份付出，將有可能讓台灣政府及社會邁向更開放、更前進的未來。
                a(href='sponsor.html') 贊助方案>
    // Footer
    footer
      .row
        .col-lg-12
          h6 感謝贊助：
          .row
            .col-xs-3
              img.img-thumbnail(src='images/sponser/footer-w.png')
              |  天氣風險管理開發公司
            .col-xs-3
              img.img-thumbnail(src='images/sponser/logo-hct.png')
              | 新竹物流
            .col-xs-3
              img.img-thumbnail(src='images/sponser/SunlightFoundation-logo.png')
              | Sunlight
            .col-xs-3
              img.img-thumbnail(src='images/sponser/netivism.png')
          p.text-center Copyright © g0v summit 2014
      // /.row
  // /.container
