extends ../layout/base
block body
  // Note: The background image is set within the business-casual.css file.
  header.business-header
    .container.mainvi
      .row
        .col-md-6
          img(src='/images/logo.png', width='519', height='205')
          p  
          h5
            img(src='/images/icons/png/s-map.png', align='middle')
            |  台北市南港區中央研究院人文館
          h5
            img(src='/images/icons/png/s-date.png', align='middle')
            |  2014/11/8
  // Page Content
  .container(style='margin-top:20px;')
    .row
      .col-sm-8
        h3 關於 g0v 年會
        p
          a(href='http://g0v.tw/zh-TW/index.html', target='_blank') g0v.tw
          |  從 2012 年 10 月開始，以數位世代的思維，以開源（open source）方式號召群眾參與著手開發新工具、新組織型態、新合作關係，運用科技力量促進政府透明化。在 318 太陽花運動期間更結合網路佈署、新媒體運用，讓開放透明理念化為實際行動。
        p
          | 經過近兩年的努力，從開放資料出發，透過開源社群促進開放政府的可能。在這條路上，g0v 社群與 NGO 、政府建立了多方互動。但改變需要更長遠的跨界交流，因此在今年初，我們開始籌備 g0v.tw Summit 零時政府年會，希望從多元面向探討運用科技與開源精神改變社會的可能。
        
        h3 年會活動
        P 
          | g0v Summit 2014 零時政府年會分為
          b 兩天兩場活動：

        p
          span.text-danger 
           b 第一天 11/8 的 Conference 國際研討會
          span.txt-danger 
           b ：邀請到來自八國關注長期開放政府運動的國際講者，以及國內政府公部門、NGO、媒體、資訊好手，並與中央研究院社會學研究所二十週年慶【跨世紀學運論壇】合辦，
           | 四軌同時進行共有 29 場演講，於中研院人文社會科學館進行。英文議程將有口譯。
        p  
          span.text-danger 
           b 第二天 11/9 將舉辦全天 Unconference 開放工作坊
          span.txt-danger
           b：由參與者提案決定議程內容，以演講、討論、自由對話等各種形式腦力激盪創造新的協作空間
          | ，於中研院資訊科學研究所進行。
        h3 重要日期
        b ☞ VIP、g0v 社群貢獻票、國際早鳥票報名時間：
        | 即日起 - 9/30（邀請碼過期將失效）
        br
        b ☞ Conference 國際研討會報名：
        | 10/1 12:00 開始（近期將公佈連結）
        br
        b ☞ Unconference 開放工作坊報名：
        | 10/1 20:00 開始（近期將公佈連結）



    
      .col-sm-4
        h3  
        .todo
          .todo-search
            | 最新消息
          ul
            li
              .todo-icon.fui-eye
              .todo-content
                h4.todo-name
                  | 初步議程公布
                  br
                |                 最新議程表已上線。
                a(href='schedule.html') 議程表>
            li
              .todo-icon.fui-eye
              .todo-content
                h4.todo-name
                  | 徵求贊助
                  br
                  |                   台灣的未來需要您的參與
                |                   如果您的企業或組織，正期待以正面能量改變社會，歡迎一起來參與這場重要的高峰會，您的一份付出，將有可能讓台灣政府及社會邁向更開放、更前進的未來。
                a(href='sponsor.html') 贊助方案>
    include ../layout/footer.jade
  // /.container

