extends ../layout/page
block vars
  - var tabName = _("Live")
block content
  .row
   h4 g0v Summit 線上直播頻道
   iframe(width='100%', height='1200', src='https://event.livehouse.in/2014/10/g0v/', frameborder='0', allowfullscreen='')
  