extends ../layout/page
block vars
  - var tabName = "議程"
block title
  //h5(style='line-height:250%;')
    img(src='/images/icons/png/s-date.png', align='middle')
    |  2014/11/8 
    img(src='/images/icons/png/s-map.png', align='middle')
    |  台北市南港區中央研究院人文館

block content
  //- TODO: use json to render this file
  //-include ../../json/schedule.jade
  .row
    .col-sm-12
      h5 Day 1 / Conference 國際研討會
        p
        img(src='/images/icons/png/s-date.png', align='middle')
        |  2014/11/8 
        img(src='/images/icons/png/s-map.png', align='middle')
        |  台北市南港區中央研究院人文社會科學館
      .alert.alert-success VIP 請於 9/30 前完成報名，邀請碼逾期將失效。一般票 
        span.text-danger 
         b 10/1 中午
        | 開放報名，
        span.text-danger 
         b 第二天 Unconference 需另報名。        
      table.table.table-bordered.table-striped
        col(width='101')
        col(width='234', span='4')
        tr
          td.text-center(width='138') 9:00 -    9:10
          td.text-center(colspan='4')
            //- TODO: example to use json
            //-h5= schedule.opening 
            h5 開場
            span.fui-user
            span.text-primary
              b clkao
        tr
          td.text-center 9:10 - 9:40
          td.text-center(colspan='4')
            h5 Keynote
        tr
          td.text-center 9:40 - 9:50
          td.text-center(colspan='4')
            h5
              | BREAK    
              span(style='font-size:14px;') (10 mins)
        tr
          td.text-center 　主題
          td.alert-danger.text-center(width='294')
            h5 開放國會  
            |                       Open Parliament
          td.alert-success.text-center(width='247')
            h5 參與式民主
            |                     Participatory Democracy
          td.alert-warning.text-center(width='247')
            h5 3du
            |                     Reclaiming our Language
          td.alert-info.text-center(width='250')
            h5 公民新科技
            |                       Civic Technologies
        tr
          td.text-center 主題介紹
          td(width='294', valign='top')
            | 以開放資料監督代議制度是開放政府運動重要的一環，各國都有不同的發展歷程，零時政府社群也長期開發相關應用。
            br
            br
            |                       這系列議程邀請到多國致力於開放國會的行動者，以及早期在台灣推動監督國會的前輩，以多個面向探討數位公民與代議制度間的新可能。（主持人：瞿海源）
          td(width='247', valign='top')
            | 民主如何參與、參與式民主如何實現，是近年越來越受重視的議題。g0v 社群成立之初便討論相關案例、著手開發平台，但從開放資料、到體制調整、乃至民主深化，都還需要各種努力。
            br
            br
            |                     此議程邀請兩位國際講者，介紹歐洲海盜黨及線上平台的審議經驗。座談則由行政院推動開放參與的政務委員，與民間倡議審議民主的專家學者直接對話。（主持人：劉致昕）
          td(width='247', valign='top')
            | 從教育部重編國語詞典資料庫開始的萌典計畫，在各界人士的襄助下，將臺灣的各種語文漸次整合，以開放資料的精神，落實多元文化的對話。
            br
            br
            |  這次很榮幸邀請到教育部與學界推動臺語文數位化的先驅，與我們分享近年的成果，而萌典網站和應用界面的全新設計，也會在這次高峰會上首度亮相。（主持人：唐鳳）
          td(width='250')
            | 資訊視覺化、資訊新聞學、加密通訊系統、網絡分析，這些資訊技術導向的領域，打開了新的公民參與思維模式。
            br
            br
            | 透過資料新的分析與應用，能有哪些方式結合議題，對政策規劃、媒體形式、資訊深入解讀分析等做出更進一步的影響。本議程有多位黑客分享精彩實作。（主持人：陳信屹、林雨蒼）
        tr
          td.text-center 9:50 - 10:20
          td(width='294')
            strong Interest Inspector
            br
            span.fui-user
            span.text-primary Felipe Álvarez
            span.badge FCI/智
          td(width='247')
            span.text-muted TBD
            br
            span.fui-user
            span.text-primary  Gregory Engels
            span.badge 海盜黨/德
          td(width='247')
            strong 教育部《臺灣閩南語常用詞辭典》資料庫釋出歷程
            br
            span.fui-user
            span.text-primary 林佳怡
          td(width='247')
            strong 醫療、Youbike、菜價視覺化
            br
            span.fui-user
            span.text-primary   李慕約
        tr
          td.text-center 10:20 - 10:50
          td(width='294')
            strong Using Open Data to Empower Others
            br
            span.fui-user
            span.text-primary   Matthew Rumsey
            span.badge Sunlight Foundation/美
          td(width='247')
            strong Open source tools for self-organising democracy
            br
            span.fui-user
            span.text-primary  Richard Bartlett
            span.badge loomio/紐
          td(width='247')
            strong 開放語料運動
            br
            span.fui-user
            span.text-primary  謝舒凱、馬基石(Pierre Magistry)
          td(width='250')
            strong 開源與媒體-科技主導的當代新聞學
            br
            span.fui-user
            span.text-primary  Kirby
        tr
          td.text-center 10:50 - 11:20
          td.text-center(colspan='4')
            h5
              | BREAK    
              span(style='font-size:14px;') (30 mins)
        tr
          td.text-center 11:20 - 11:50
          td(width='294')
            strong How We Open the National Assembly in South Korea, with Technology
            br
            span.fui-user
            span.text-primary  Lucy Park
            span.badge POKR/韓
          td(width='247', rowspan='2', valign='top')
            strong 參與式民主議程座談
            br
            |                       主持人：吳銘軒
            br
            |                       與談貴賓：李根政、呂家華、陳俊宏、蔡玉玲
          td(width='247')
            strong Redesigning MoeDict
            br
            span.fui-user
            span.text-primary  薛良斌
          td(width='250')
            strong SafeSlinger: Easy-to-use and secure public-key exchange
            span.text-primary
              br
              |                     林岳勳
        tr
          td.text-center 11:50 - 12:20
          td(width='294')
            strong 開放國會議程座談
            br
            |                       主持人：瞿海源
            br
            |                       與談貴賓：Felipe Álvarez、Lucy Park、柳林瑋、高嘉良
          td(width='247')
            strong 3du 議程座談
            br
            |                     主持人：唐鳳
            br
            |                     與談人：林佳怡、薛良斌、謝舒凱
          td(width='250')
            strong 台灣公司關係圖資料解構
            br
            span.fui-user
            span.text-primary  劉偉宸
        tr
          td.text-center 12:20 - 13:30
          td.text-center(colspan='4')
            h5
              | LUNCH    
              span(style='font-size:14px;') (70 mins)
        tr
          td.text-center 主題
          td.alert-danger.text-center
            h5 媒體曝光下的學運
            | Sunflower Movement under the Spotlight
            | 
            span.badge 社會所「跨世紀學運系列論壇之五」
          td.alert-success.text-center(width='247')
            h5 開放資料與環境
            | Open Data and the Environment
          td.alert-warning.text-center(width='247')
            h5 大協作世代
            | Age of Collaboration
          td.alert-info.text-center(width='250')
            h5 運動新風貌
            |  New Faces of Activism
        tr
          td.text-center 主題介紹
          td(width='294', valign='top')
            | 太陽花學運中，媒體的作用與以往運動有了一些轉變。主流媒體與新媒體之間的交互作用，從電視、報紙雜誌、到網路空間與社交媒體媒介，去中心化的開源網路社群也開始有了新的嘗試。
            br
            br
            | 本座談將討論媒體本身角色，是抗爭運動的參與者抑或介入者，以及網路社群在運動中的角色，乃至未來的展望。（主持人：蕭新煌）
          td(width='247')
            | 現今的氣候變遷，以及環境的過度利用，導致天災頻傳，而由 g0v 過往製做的雨量熱度圖、空氣污染圖，也讓拉近了民眾與環境資料之間的距離。
            br
            br
            | 透過這樣的經驗，我們特別透過 g0v summit 的機會，邀請業界、NGO、政府的三位專家，跟我們一同討論從全球到台灣在地的環境議題、環境監測、環境資料，有哪些新氣象。（主持人：鄧東坡）
          td(width='247')
            | 社群網站的興起讓分散式行動越來越成熟，從單純傳遞訊息到全球協同工作，都因技術與群眾參與度提升而成為可能。
            br
            br
            | 運用科技結合群眾外包，是否能夠加速社會改變的進程？此議程有跨國公民科技社群、g0v 大規模動員鄉民的OCR行動、以及兩大開放內容基石「維基百科」與「開放街圖」，皆以實際案例探討協作新動力。（主持人：張維志）
          td(width='250', valign='top')
            | 社運團體 × 科技，會碰撞出什麼火花？新的傳播方式、新的協同工具、新的溝通形式，都帶來不同層面的影響。互相溝通、學習、影響的過程也是公民社會進步的一環。
            br
            br
            | 運動新風貌從太陽花運動中的新媒體談起，進一步探討科技工具與社運結合的可能，與台灣公民軟體經驗輸出香港的經驗分享。（主持人：楊孝先）
        tr
          td.text-center 13:30 - 14:00
          td(rowspan='2', width='294')
            strong Ｅ論壇的同步新聞寫作
            |  - 吳宗泰
            br
            strong 去中心化之下的主流媒體角色
            |  - 陳守國
            br
            strong 傳統媒體作為媒介、行動者與獲益者
            |  - 鄒景雯
            br
            strong 社會運動中的開源新媒體嘗試
            |  - 瞿筱葳
          td(width='247')
            strong Open Weatherdata
            br
            span.fui-user
            span.text-primary  彭啟明
          td(width='247')
            strong Poplus
            br
            span.fui-user
            span.text-primary  Paul Lenz 
            span.badge mysociety, 英
          //td(width='250')
            strong 開放資料與公益責信
            br
            span.fui-user
            span.text-primary  Simon
          td(width='250')
            strong 新媒體與公民參與：從大腸花到攝護線
            br
            span.fui-user
            span.text-primary  音地大帝
        tr
          td.text-center 14:10 - 14:40
          td(width='247')
            strong
              | 環評為何這麼容易被判決撤銷？－兼談經濟與環保的拔河
              br
            span.fui-user
            span.text-primary  詹順貴
          td(width='250')
            strong 解放政府圖檔資料行動：用影像辨識來處理政府資料吧～
            br
            span.fui-user
            span.text-primary  王向榮
          td(width='250')
            strong ng0v    ，不只是寫程式，不只是改造社會
            br
            span.fui-user
            span.text-primary  ddio
        tr
          td.text-center 14:40 - 15:10
          td(width='294')
            strong 媒體與學運議程座談
            br
            |                       主持人：蕭新煌
            br
            |                       與談貴賓：吳宗泰、陳守國、鄒景雯、瞿筱葳
          td(width='247')
            strong 環境議程座談
            br
            |                       主持人：鄧東坡
            br
            |                       與談貴賓：朱雨其、彭啟明、詹順貴
          td(width='250')
            strong 開放內容的衝擊-開放街圖和維基百科在臺發展，以及如何可能影響政府
            br
            span.fui-user
            span.text-primary   陳瑞霖
          td(width='247')
            strong Code    for Hong Kong: 從台灣輸入公民軟體的香港經驗
            br
            span.fui-user
            span.text-primary  Tim KT Chan 
            span.badge  港 
        
        
        tr
          td.text-center 15:10 - 15:50
          td.text-center(colspan='4')
            h5
              | TEA BREAK 
              span(style='font-size:14px;') (40 mins)
        tr
          td.text-center(rowspan='2') 15:50    - 17:00
          td.text-center(colspan='4', rowspan='2')
            h5
              | Lightning talks 
              span(style='font-size:14px;') (70 mins)
              br
              span(style='font-size:18px;') 閃電秀由現場參與者當天報名，每講 5 分鐘
        tr  
      h5 Day 2 / Unconference 開放工作坊
        p
        img(src='/images/icons/png/s-date.png', align='middle')
        |  2014/11/9 
        img(src='/images/icons/png/s-map.png', align='middle')
        |  台北市南港區中央研究院資訊所
      .alert.alert-success VIP 與國際早鳥票可優先選擇是否參與不需再報，一般票 
        span.text-danger 
         b 10/1 晚間
        | 開放報名。
      // td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
      table.table.table-bordered.table-striped(cellspacing='0', cellpadding='0')
        colgroup
          col(width='100')
          col(width='269')
          col(width='269')
          col(width='269')
          col(width='269')
        tbody
          tr
            td.text-center(width='12%') 9:00 - 9:30
            td.text-center(width='88%', rowspan='1') 報到
          tr
            td.text-center 9:30 - 9:40
            td.text-center(rowspan='1') 開場
          tr
            td.text-center 9:40 -10:10
            td.text-center(rowspan='1') TBD
          tr
            td.text-center 10:10-10:30
            td.text-center(rowspan='1') BREAK (20 mins)
          tr
            td.text-center 10:30-10:50
            td.text-center(rowspan='1') 參與者提案，確定全天議程（全體）
          tr
            td.text-center.alert-info
              | 10:50 - 11:30
              br
              |                       11:35 - 12:15
            td.text-center.alert-info
              div
                h5 UnConfernece!
                |                         五間會議室，由參與者自主提案分組進行
          tr
            td.text-center 12:15-13:30
            td.text-center(rowspan='1') LUNCH (70 mins)
          tr
            td.text-center.alert-info
              | 13:30 - 14:10
              br
              |                       14:15 - 14:55
            td.text-center.alert-info
              div
                h5 UnConfernece!
                |                         五間會議室，由參與者自主提案分組進行
          tr
            td.text-center 15:00 - 15:40
            td.text-center(rowspan='1') TEA BREAK (40 mins)
          tr
            td.text-center.alert-info
              | 15:45 - 16:25
              br
              |                       16:30-17:10
            td.text-center.alert-info
              div
                h5 UnConfernece!
                |                         五間會議室，由參與者自主提案分組進行
          tr
            td.text-center(colspan='1')
              div 17:15 - 18:00
            td.text-center
              div
                | Lightning talks (45 mins)
                br
                |                         Closing
