extends ../layout/page
block vars
  - var tabName = "講者"
block content
  .row
    // speaker
    .col-md-4
      .well
        .row
          .col-sm-12
            // info
            .col-xs-12.col-sm-8
              h6 薛良斌
              //span.text-primary
                | aka @hlb / 布丁
                br
                |                     KKBOX / Director
            // 
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
                figcaption.ratings
                  p
                    span.badge 台灣
            // bio
            p
              | aka @hlb / 布丁。目前擔任 KKBOX 總監，負責 KKTIX 活動售票業務。KKBOX 作為亞洲數位音樂訂閱服務的領導品牌，擁有上千萬首歌曲，並且獲得 500 家以上唱片公司的合法授權，並於 2013 年底開始跨足活動售票領域。
            p
              | 講題：
              strong
                span.text-primary Redesigning moedict
            p.text-center
              button.btn.btn-primary(data-toggle='modal', data-target='#Abstract1') Abstract
            // Abstract1
            #Abstract1.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                    h5.modal-title Redesigning moedict
                  .modal-body
                    p
                      | 萌典是民間版《教育部辭典》的開放資料界面與應用範例，收錄十六萬筆國語、兩萬筆台語、一萬四千筆客語條目、常用字的筆順動畫、英法德文翻譯，以及中華文化總會的《兩岸常用詞典》。
                      | 本 talk 以萌典為例，闡述零食政府專案的 UI 規劃進行方式。
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                // /.modal-content
              // /.modal-dialog
            // /.modal
        // well end
    // speaker
    .col-md-4
      .well
        .row
          .col-sm-12
            // info
            .col-xs-12.col-sm-8
              h6 Yue-Hsun Lin (林岳勳)
              //span.text-primary
                | CyLab, Carnegie Mellon University
            // 
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
                figcaption.ratings
                  p
                    span.badge USA
            // bio
            p(style='font-size:12px;clear:both;')
              | CyLab, Carnegie Mellon University. Yue-Hsun Lin is working in Carnegie Mellon Cylab as Postdoc Researcher from 2012. He received his Ph.D. and M.S. in Computer Science and Engineering from National Tsing Hua University, Taiwan. His current research focuses on next generation secure networks and trust establishment between smartphone end-users.
            p
              | 講題：
              strong
                span.text-primary SafeSlinger: easy-to-use and secure public-key exchange
            p.text-center
              button.btn.btn-primary(data-toggle='modal', data-target='#Abstract2') Abstract
            // Abstract1
            #Abstract2.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                    h5.modal-title SafeSlinger: easy-to-use and secure public-key exchange
                  .modal-body
                    p
                      | SafeSlinger is a system for secure exchange of authentic information, such as secure messaging and email, using smartphones while preserving user privacy without any external trusted parties. As an ongoing research project at Carnegie Mellon University’s CyLab, we have recently released an open-source platform for SafeSlinger public-key and contact information exchange, rich text-messaging, and secure friend introduction applications, and a secure email application is currently under development, all of which are maintained for a variety of Android and iOS devices and up-to-date OS versions.
                    p
                      | Our central goal is to develop a system that provides strong security guarantees with usability in mind. We also want to support flexibility and interoperability such that users with different OS vendors can still use SafeSlinger remotely (even across countries). However, a core challenge is to resolve the tension among security, usability, and flexibility. To support flexibility, we use Internet-based communication such that all devices connect to a cloud server using IP; however, such a decision indicates that users are vulnerable to privacy breaches with the compromised server or any man-in-the-middle attackers. Consequently, we address authenticity, secrecy, and privacy by constructing a multi- commitment hash tree along with efficient Diffie-Hellman secret sharing to ensure that users’ private information is shared only with the intended recipients if and only if every step in the exchange protocol runs successfully.
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                // /.modal-content
              // /.modal-dialog
            // /.modal
        // well end
    // speaker
    .col-md-4
      .well
        .row
          .col-sm-12
            // info
            .col-xs-12.col-sm-8
              h6 林佳怡
              //span.text-primary
                | 教育部系派遣人員/師大台文博士生
            // 
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
                figcaption.ratings
                  p
                    span.badge 台灣
            // bio
            p(style='clear:both;') 教育部《臺灣閩南語常用詞辭典》編輯暨成果維護人員，教育部系派遣人員/師大台文博士生。
            p
              | 講題：
              strong
                span.text-primary 教育部《臺灣閩南語常用詞辭典》資料庫釋出歷程
            p.text-center
              button.btn.btn-primary(data-toggle='modal', data-target='#Abstract3') Abstract
            // Abstract1
            #Abstract3.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                    h5.modal-title 教育部《臺灣閩南語常用詞辭典》資料庫釋出歷程
                  .modal-body
                    p
                      | 教育部《臺灣閩南語常用詞辭典》上線之前，即已歷經拼音用字整合的紛擾而遲遲無法公布；上線之後，曾有一次與企業合作將資料庫加值利用的機會，已做出成果，而後竟因為一個與辭典本身毫不相關的因素而撤銷整個專案。而後編輯團隊接觸了創用CC，終於在2012年6月以「姓名標示-禁止改作」的條款釋出。這個歷程牽涉供部門的專業與不專業、無心與力不從心，除說明此一歷程之外，亦兼談公部門資訊公開的一些困境與難處，期待透過此一實例的討論與對話，累積更多督促公部門公開資訊的方法。
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                // /.modal-content
              // /.modal-dialog
            // /.modal
        // well end
  .row
    // speaker A1
    .col-md-4
      .well
        .row
          .col-sm-12
            // info
            .col-xs-12.col-sm-8
              h6 蔡玉玲
              span.text-primary
                | 
            // 
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
                figcaption.ratings
                  p
                    span.badge 台灣
            // bio
            p(style='clear:both;') 曾任地方法院法官(1982~1991),之後由法官轉職進入IBM公司擔任台灣及大中華區法務長(1991~1998)。1998年創辦「理慈國際科技法律事務所」,專長科技法律、併購、技術授權/移轉等案件(1998~2013)。2013年11月受邀入閣擔任行政院政務委員,致力推動電子商務、文創產業及虛擬世界發展及相關法規等政務。
            
        // well end
    // speaker A4
    .col-md-4
      .well
        .row
          .col-sm-12
            // info
            .col-xs-12.col-sm-8
              h6 陳俊宏
              //span.text-primary
                | 東吳大學政治系副教授
            // 
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
                figcaption.ratings
                  p
                    span.badge 台灣
            // bio
            p(style='clear:both;') 東吳大學政治系副教授。曾經在美國芝加哥大學及英國倫敦政經學院就讀，長期投入台灣人權運動並參與許多非政府組織的運作。曾經擔任台灣民間真相與和解促進會理事長、台灣人權促進會副會長，目前擔任台灣民間真相與和解促進會監事、民間公民與法治教育基金會董事、台灣守護民主平台理事。
            
        // well end
    // speaker A6
    .col-md-4
      .well
        .row
          .col-sm-12
            // info
            .col-xs-12.col-sm-8
              h6 劉致昕
              span.text-primary
                | 
            // 
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
                figcaption.ratings
                  p
                    span.badge 台灣
            // bio
            p(style='clear:both;') Jason Liu 劉致昕以文字求生，多麼希望能跟g0v一樣鍵盤上創造希望。現職：華陽創投董事長特助、你知我知好學網、自由撰稿。經歷：商業周刊記者、Financial Times助理記者。《都市再生的20個故事》共同作者。曾獲金鼎獎、吳舜文新聞奬、學學文創年度媒體大獎。
            
        // well end
  .row
    // speaker A7
    .col-md-4
      .well
        .row
          .col-sm-12
            // info
            .col-xs-12.col-sm-8
              h6 詹順貴
              span.text-primary
                | 環境、人權律師
                br
                | 元貞聯合法律事務所
            // 
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
                figcaption.ratings
                  p
                    span.badge 台灣
            // bio
            p
              | 在欣賞鳥鳴與振羽的過程中看見台灣山海俯拾即是的自然之美，傾心投入環境保護、土地正義、原住民及諸多弱勢人權等議題，期許個人得以渺小力量，使臺灣在地知識的低喃，能讓更多人傾聽，祈求島嶼的歌唱，能夠永續長存。
            p
              | 講題：
              strong
                span.text-primary 環評為何這麼容易被判決撤銷？－兼談經濟與環保的拔河
            p.text-center
              button.btn.btn-primary(data-toggle='modal', data-target='#AbstractA7') Abstract
            // AbstractA7
            #AbstractA7.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                    h5.modal-title 環評為何這麼容易被判決撤銷？－兼談經濟與環保的拔河
                  .modal-body
                    p
                      | 依環評法第4條第2款的定義，環評是事前對開發行為的客觀、科學、綜合的調查、預測、分析及評定其對環境影響的範圍及程度。因此「事前對環境現況的客觀、科學調查」，攸關對於評估開發行為究竟會造成如何影響的正確性，至為重要。為什麼環評容易被法院判決撤銷？主要原因即在顧問公司及其技師於環境現況調查過程中，為刻意隱匿對其不利的資訊，而在調查方法（包括時間、地點、路徑），或對環境現況的描述方式上取巧。再加上政府經濟至上的迷思，浮濫通過，反而適得其反。本次講題嚐試揭露其中內幕、並反思如何確保環境資訊與行政程序的公開、公正，使經濟發展與環境保護得以兼籌並顧？以利促進人民有真正好的生活環境。
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                // /.modal-content
              // /.modal-dialog
            // /.modal
        // well end
    // speaker A8
    .col-md-4
      .well
        .row
          .col-sm-12
            // info
            .col-xs-12.col-sm-8
              h6 朱雨其
              span.text-primary
                | 行政院環境保署環境監測及資訊處 處長
            // 
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
                figcaption.ratings
                  p
                    span.badge 台灣
            // bio
            p(style='clear:both;')
              | 學歷：國立臺灣科技大學 電子工程研究所 計算機組 博士
              | 經歷：行政院境保護署科長、專門委員、副處長，臺北縣議會資訊室主任
            p
              | 講題：
              strong
                span.text-primary Panel 與談
            
        // well end
    // speaker A9
    .col-md-4
      .well
        .row
          .col-sm-12
            // info
            .col-xs-12.col-sm-8
              h6 柳林瑋
              span.text-primary
                | 沃草創辦人
            // 
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
                figcaption.ratings
                  p
                    span.badge 台灣
            // bio
            p(style='clear:both;') 
              | 高雄醫學大學醫學士 
              br
              | 台大醫院醫師 
              br
              | 公民1985行動聯盟發起人 
              br
              | 沃草創辦人
        // well end
  .row
    // speaker A12
    .col-md-4
      .well
        .row
          .col-sm-12
            // info
            .col-xs-12.col-sm-8
              h6 蕭新煌
              span.text-primary
                | 特聘研究員兼任所長
                br
                | 中央研究院社會學研究所
            // 
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
                figcaption.ratings
                  p
                    span.badge 台灣
            // bio
            p
            | 國立中央大學客家學院講座教授
            br
            | 國立台灣大學、中山大學社會學系合聘教授
            br
            | 學歷 ：美國紐約州立大學(水牛城)社會學博士
            br
            | 研究領域及興趣：發展社會學、環境社會學、東亞與東南亞中產階級、社會運動、民間公民社會與亞洲新民主、非營利組織與第三部門研究、台灣與東南亞客家研究
            
        // well end
    // speaker A14
    .col-md-4
      .well
        .row
          .col-sm-12
            // info
            .col-xs-12.col-sm-8
              h6 陳守國
              span.text-primary
                | 壹電視總經理
            // 
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
                figcaption.ratings
                  p
                    span.badge 台灣
            // bio
            p(style='clear:both;')
              | 東海大學政治學系畢業，曾任中國時報中部編輯部總編輯、中時晚報總編輯、中國廣播公司及中天電視總經理、中時集團總管理處副總經理兼大陸事務處處長、衛星電視同業公會執行長，現任壹電視總經理。
            p
              | 講題：
              strong
                span.text-primary 去中心化之下的主流媒體角色
            p.text-center
              button.btn.btn-primary(data-toggle='modal', data-target='#AbstractA14') Abstract
            // Abstract14
            #AbstractA14.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                    h5.modal-title 去中心化之下的主流媒體角色
                  .modal-body
                    p
                      | 一、相較野百合與太陽花學運，主流媒體的角色功能
                      br
                      | 二、主流媒體在太陽花學運的立場定位及論述演化。（兼論內外爭議）
                      br
                      | 三、廣義媒體與主流媒體的互動影響
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                // /.modal-content
              // /.modal-dialog
            // /.modal
        // well end
    // speaker A13
    .col-md-4
      .well
        .row
          .col-sm-12
            // info
            .col-xs-12.col-sm-8
              h6 鄒景雯
              span.text-primary
                | 自由時報副總編
            // 
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png', alt='')
                figcaption.ratings
                  p
                    span.badge 台灣
            // bio
            p(style='clear:both;') 
              | 國立台灣大學國家發展研究所博士生，資深新聞媒體人，曾任自立晚報記者、自由時報政治中心副主任，現任自由時報副總編輯。著有《李登輝執政告白實錄》、《李登輝給年輕人的十堂課》、《傳略蘇志誠》、《風雲劉泰英》、《蕭萬長政治密錄》等。
            p
              | 講題：
              strong
                span.text-primary 傳統媒體作為媒介、行動者與獲益者
            p.text-center
              button.btn.btn-primary(data-toggle='modal', data-target='#AbstractA13') Abstract
            // Abstract13
            #AbstractA13.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                    h5.modal-title 傳統媒體作為媒介、行動者與獲益者
                  .modal-body
                    p
                      | 一、傳媒與運動
                      br
                      | 二、傳播角色/理論的再更新
                      br
                      | 三、獲益的「名」與「實」
                      br
                      | 四、「不容許再發生」的佔領與反佔領
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                // /.modal-content
              // /.modal-dialog
            // /.modal
        // well end
