extends ../layout/page
block vars
  - var tabName = _("Staff")
block content
  mixin groups(name, idx, list)
    .staff-group(class="staff-group-"+idx)
      .staff-group-name= name
      each ppl in list
        .staff-item= ppl
  include ../../i18n/gen/staff.jade
  h5 工作人員名錄
  .row
    - var idx = 0
    each grps in [["場務組"],["議程組","線路組","口譯組"],["行銷組","紀錄組","直播組","行政組","出納組","銷售組","公關組"]]
      .col-sm-4
        each grp in grps
          +groups(grp, idx, staff_i18n[grp])
          - idx = idx + 1
