.schedule-talks
  h1.schedule-header
    a.anchor(name='day-1')
    | Day 1
    a.hash-link(href="#day-1") #
  .talk
    img.profile-picture(src="https://t.kfs.io/upload_images/33952/clkao-smile_promote.png")
    h4
      a.anchor(name='opening')
      | Opening
      a.hash-link(href="#opening") #
    h3
      small by&nbsp;
        span 高嘉良 clkao
    h3
      small Saturday, 09:00-09:30am
    .description
      p
      iframe(width="720", height="405", src="https://www.youtube.com/embed/VuxwX-uUtdA", frameborder="0", allowfullscreen)