.root {
  background: #FFFFFF;
  box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.50);
  background-color: rgba(255, 255, 255, 0.94);
  min-height: 400px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 103px;
  lost-utility: clearfix;
}

.header {
  text-align: center;
  padding-top: 20px;
}

.speaker {
  lost-column: 1/4;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 50%;
}

.avatar {
  width: 128px;
  height: 128px !important;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  background-color: rgba(254, 220, 117, 0.74);
}

.name {
  font-weight: bold;
}

.title {
}

@media screen and (max-width: 430px) {
  .speaker {
    lost-column: 1/3;
  }
}
