doctype html
html
  head
    meta(charset='utf-8')
    title 第一會議室口譯串流
  body(style="margin: 30px auto 0;background-color: hsl(210, 29%, 29%);")
    audio#audio-player(src='http://i.summit.g0v.tw:8554/r1', controls)
