* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Heiti TC", "Apple LiGothic Medium", "微軟正黑體", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #5D5D5D;
}
