@import "reset.css";
@import "landing.css";

.button {
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 3px;
  background-color: #9B0000;
  text-decoration: none;
}

.button:active {
  color: #aaa;
}

.right {
  float: right;
}

header {
  padding: 1em 3em;
  height: 2em;
  background-color: #C70E38;

  * {
    color: #fff;
  }

  & > * {
    line-height: 2em;
  }

  h1 {
    background-image: url("../images/title.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    padding: 0px 0px 12%;
    text-indent: 100%;
    white-space: nowrap;
    height: 0px;
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
  }
  h4 {
    font-size: 1.2em;
    line-height: 1.4;
    text-align: center;
  }
  @media(max-width: 980px){
    & {
      padding: 150px 0 50px 0;
      h1 {
        padding: 0 0 15% 0;
      }
      h2 {
        margin-top: 10px;
      }
    }
  }
  @media(max-width: 720px){
    & {
      padding: 80px 0 30px 0;
      h1 {
        width: 100%;
        height: 40px;
      }
    }
  }
}

.cfp-button {
  text-align: center;

  a {
    display: inline-block;
    background-color: #6C5368;
    border: none;
    border-radius: 5px;
    height: 34px;
    margin: 20px auto;
    vertical-align: middle;
    line-height: 34px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    padding: 4px 20px;
    text-decoration: none;
  }
}

.intro {
  box-shadow: #999 0px -1px 5px;
  background: rgba(255,255,255,0.9);
  padding: 50px 10%;

  @media(max-width: 720px){
    & {
      padding: 50px 5%;
      h3 {
        lost-column: 1/1;
      }
      .highlights {
        lost-column: 1/1;
      }
    }
  }

  h3 {
    lost-column: 1/4 2;
    line-height: 1.4;
    margin: 0 0 1em 0;
  }
  .highlights {
    lost-column: 3/4 2;
    margin: 0 0 1.5em 0;
  }
  ul {
    list-style: circle;
    & > li {
      margin-left: 2.5em;
    }
  }
  .clearfix {
    overflow: auto;
  }
}

.milestones, .keynote, .call_for_papers, .early_bird, .feature-speakers, .about, .highlight, .sponsorship{
  line-height: 1.5em;
  margin: 0 0 84px 0;
}

.keynote-speaker {
  text-align: center;
  width: 30%;
  margin: 1.5em auto;
  img {
    width: 120px;
    border-radius: 50%;
  }
}

.milestone, .keynote, .call_for_papers, .feature-speakers, .early_bird, #mc_embed_signup, .sponsorship {
  h2 {
    font-size: 2em;
    text-align: center;
    line-height: 1.4;
    margin: 0 0 1em 0;
  }
  h3 {
    font-size: 1.2em;
    margin-top: 0.5em;
  }
  .info {
    margin-top: 0.5em;
  }
}

@media(min-width: 720px){
  .feature-speakers h2 {
    margin-bottom: 2em; /* enlarge horizontal gap match the vertical gaps of the circles below */
  }
}

figure.feature-speaker {
  text-align: center;
  lost-column: 1/3;
  @media(max-width: 720px) {
    & {
      lost-column: 1/1;
    }
  }
  .name {
    font-weight: bold;
    margin: 0.5em 0;
  }
  figcaption {
    margin: 0 0 1em 0;
  }
  img {
    width: 120px;
    border-radius: 50%;
  }
}

.milestones {
  text-align: center;
}

.milestone-range {
  margin: 32px 0 16px;
  * { /* universal selector sucks... */
    color: rgba(255, 255, 255, .56);
  }
}

.milestone-title {
  font-size: 20px;
  font-weight: 200;

  a:link, a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.milestone-label {
  font-size: 12px;
  color: rgba(144,110,169,0.9);
  background: rgba(255, 255, 255, .56);
  padding: 4px 8px;
  margin-top: 16px;
  border-radius: 2px;
  display: inline-block;
  font-weight: bold;
}

.sponsorship p {
  text-align: center;
}