* {
  color: #fff;
  font-size: 15px;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

p, ul {
  line-height: 1.5;
}

body {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #C180AA),
    color-stop(1, #130E17)
  );
  background-image: -o-linear-gradient(bottom, #C180AA 0%, #130E17 100%);
  background-image: -moz-linear-gradient(bottom, #C180AA 0%, #130E17 100%);
  background-image: -webkit-linear-gradient(bottom, #C180AA 0%, #130E17 100%);
  background-image: -ms-linear-gradient(bottom, #C180AA 0%, #130E17 100%);
  background-image: linear-gradient(to bottom, #C180AA 0%, #130E17 100%);
}

main {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  clear: both;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/g0v-summit-01bg.jpg");
    background-size: 100%;
    background-position: 0 -250px;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
  }

  @media(max-width: 860px){
    & {
      background-size: 100%;
      background-position: 0 -120px ;
    }
  }

  @media(max-width: 720px){
    & {
      background-size: 150%;
      background-position: center -300px;
    }
  }
}

.sponsor {
  background-color: #64455c;
  padding: 40px 10%;
  overflow : auto;
  clear: both;

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  ul {
    width: 100%;
    max-width: 1120px;
    padding: 0 30px;
    margin: 0 auto;

    @media(max-width: 1400px){
      & {
        max-width: 840px;
        padding: 0;
        margin: 0 auto;
      }
    }

    @media(max-width: 1280px){
      & {
        max-width: 570px;
        padding: 0;
        margin: 0 auto;
      }
    }

    @media(max-width: 720px) {
      & {
        max-width: 280px;
        padding: 0;
        margin: 0 auto;
      }
    }
  }

  li {
    opacity: 0.75;
    float: left;
    width: 260px;
    height: 80px;
    line-height: 30px;
    margin: 10px 10px;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

footer {
  background-color: #64455c;
  padding: 20px 0;
  text-align: center;
}
