.root {
  background-color: #F2F2F2;
  text-align: center;
  padding-bottom: 17px;
}

.header {
  text-align: center;
  padding-top: 20px;
}

.section {
  text-align: center;
}

.sponsor {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
  width: 260px;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}

.logo {
  height: 120px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
  border-radius: 3px;
}

.name {
  display: block;
  font-weight: bold;
  color: #5D5D5D;
  text-decoration: none;
  font-size: 15px;
  padding-top: 5px;
}

.sponsor:hover .name {
  text-decoration: underline;
}

