$breakpoint: 1000px;
$container-width: 1000px;
$appbar-height: 60px;

.root {
  background: #FFFFFF;
  box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.50);
  lost-utility: clearfix;
  position: relative;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

/* Stuff directly stolen from coscup... :P */
:global {

.Home-filter {
  display: none;
}
.Home-schedule {
  display: block;
  z-index: 10;
}
.Home-schedule.is-fixed, .Home-schedule.with-session {
  display: block;
  -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
  transition: all .2s cubic-bezier(.4,0,.2,1);
}
.Home-schedule.with-session.is-hide {
  display: none;

}
.Home-session {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  transition: transform .2s cubic-bezier(.4,0,.2,1);
  z-index: 200;
  transform: translate3d(100%, 0, 0);
}
.Home-session.is-show, .Home-session.is-show.is-fixed {
  transform: translate3d(0, 0, 0);
}

@media screen and (min-width: $breakpoint){
  $left-filter-width: 240px;

  .Home-filter {
    width: $left-filter-width;
    position: absolute;
    display: block;
  }
  .Home-filter.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
  .Home-filter.is-passed{
    position: absolute;
    /* top dynamically decided*/
  }
  .Home-schedule {
    margin-left: $left-filter-width;
    will-change: margin-left;
    /*-webkit-transition: margin-left .2s cubic-bezier(.4,0,.2,1);
    transition: margin-left .2s cubic-bezier(.4,0,.2,1); */
    z-index: 10;
    margin-bottom: 200px;
  }
  .Home-schedule.is-fixed {
    width: $container-width - $left-filter-width;
    margin-left: 360px;
    will-change: margin-left;
    transition: all .2s cubic-bezier(.4,0,.2,1);
  }
  .Home-schedule.with-session {
    width: $container-width - $left-filter-width;
    margin-left: 160px;
    will-change: margin-left;
    transition: all .2s cubic-bezier(.4,0,.2,1);
  }
  .Home-schedule.with-session.is-hide {
    display: inline-block;

  }
  .Home-session {
    position: absolute;
    opacity: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    transition-property: opacity, transform;
  }
  .Home-session.is-show {
    opacity: 1;
  }
  .Home-session.is-fixed {
    position: fixed;
    margin-top: $appbar-height;
    // max-width: calc($container-width / 2);

    box-shadow: -3px 4px 4px rgba(0,0,0,.2);
  }
}

.Schedule {
  min-height: 100vh;
  position: relative;
  background: white;
  z-index: 10;
}
.Schedule.is-fixed {
  padding-top: 56px;
}
.Schedule-title {
  background: white;
  border-bottom: 1px solid gray;
  width: 100%;
  z-index: 20;

}
.Schedule-title.is-fixed {
  position: fixed;
  top: 0;

  -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
  transition: all .2s cubic-bezier(.4,0,.2,1);
}
@media screen and (min-width: 776px) and (max-width: 1236px){
  .Schedule-title {
    background: white;
    border-bottom: 1px solid gray;
    width: 100%;
    z-index: 20;

  }
  .Schedule-title.is-fixed {
    position: fixed;
    top: 0;
    max-width: calc(50% - 2px);

    -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
    transition: all .2s cubic-bezier(.4,0,.2,1);
  }

}
@media screen and (min-width: $breakpoint){
  .Schedule-title {
    background: white;
    border-bottom: 1px solid gray;
    width: 100%;
    z-index: 20;
  }
  .Schedule-title.is-fixed.without-session {
    left: 361px;

    position: fixed;
    top: 0;
    max-width: 548px;

    -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
    transition: all .2s cubic-bezier(.4,0,.2,1);
    will-change: left;
  }
  .Schedule-title.is-fixed.with-session {
    left: 161px;

    position: fixed;
    top: 0;
    max-width: 548px;

    -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
    transition: all .2s cubic-bezier(.4,0,.2,1);
    will-change: left;
  }
}

/* FILTER */
.Schedule-filterBtn {
  position: absolute;
  right: 8px;
  top: 0;
  color: rgb(80,80,80);
  text-align: center;
  line-height: 54px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  transition: all .3s;
}
.Schedule-filterBtn:hover {
  color: rgb(53,55,54);
}
.Schedule-filterBtn:before {


}
.Schedule-bar1 {
  content: '';
  border-top: 2px solid transparent;
  position: absolute;
  top: 28px;
  width: 40px;
  left: 8px;

}
.Schedule-bar2 {
  content: '';
  border-top: 2px solid transparent;
  position: absolute;
  top: 28px;
  width: 40px;
  left: 8px;
}
.Schedule-bar1.is-active {
  content: '';
  border-top: 2px solid rgb(213,62,79);
  position: absolute;
  top: 28px;
  width: 40px;
  left: 8px;
  transform: rotate(45deg);
  -webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
  transition: all .3s cubic-bezier(.4,0,.2,1);

}
.Schedule-bar2.is-active {
  content: '';
  border-top: 2px solid rgb(213,62,79);
  position: absolute;
  top: 28px;
  width: 40px;
  left: 8px;

  transform: rotate(-45deg);
  -webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
  transition: all .3s cubic-bezier(.4,0,.2,1);

}

@media screen and (min-width: $breakpoint) {
  .Schedule-filterBtn {
    display: none;
  }
}
.Schedule-filterPanel {
  max-height: 0px;
  overflow: hidden;
  will-change: max-height;
  transition: all .2s cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition: all .2s cubic-bezier(0, 1, 0.5, 1);
}
.Schedule-filterPanel.is-show {
  max-height: calc(100vh - 80px);

  will-change: max-height;
  transition: all .2s cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition: all .2s cubic-bezier(0, 1, 0.5, 1);
  width: 100%;
}
.Schedule-filterPanel.is-show.is-fixed {
  position: fixed;
  top: 57px;
  z-index: 200;
  width: 100%;
  background: white;
  box-shadow: 0px 2px 2px 0 rgba(0,0,0,.22);
}
@media screen and (min-width: 768px) and (max-width: $breakpoint - 1px){
  .Schedule-filterPanel.is-show.is-fixed {
    width: calc(50% - 1px);

    box-shadow: 0px 2px 2px 0 rgba(0,0,0,.22);
    border-right: 1px solid rgb(100,100,100);

  }

}
@media screen and (min-width: $breakpoint){
  .Schedule-filterPanel.is-show.is-fixed {
     display: none;
  }

}
/* ===================== */

.Schedule-dayButton {
  font-family: Polaris-Bold,Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .08em;
  display: inline-block;
  padding: 20px;
  cursor: pointer;

}
.Schedule-dayButton:hover, .Schedule-dayButton.is-active {
  color: rgb(68,210,143);
  text-decoration: underline;
}
.Schedule-day {
  background: rgb(220,220,220);
  padding: 20px 20px 20px 26px;
  font-family: Polaris-Book,"Helvetica Neue",Helvetica,Arial,sans-serif;
  /*'Gentium Basic',Gentium,serif;*/
  font-weight: 800;
  letter-spacing: 1px;
}
.Schedule-item {
  padding: 30px;
  padding-left: 92px;

  background: white;
  position: relative;
  color: rgb(100,100,100);
  overflow: hidden;
}
.Schedule-itemLightning {
  padding: 4px;
  padding-left: 92px;
  padding-right: 20px;
  line-height: 1.5;
  background: white;
  position: relative;
  color: rgb(100,100,100);
  overflow: hidden;
}
.Schedule-itemLightningLast {
  padding: 4px;
  padding-left: 92px;
  padding-right: 20px;
  padding-bottom: 30px;
  line-height: 1.5;
  background: white;
  position: relative;
  color: rgb(100,100,100);
  overflow: hidden;
}
.Schedule-event {
  overflow: hidden;
}
.Schedule-keynotePresenter {
  color: rgb(125,124,123);
  font-size: 14px;
  margin-top: 4px;

}
.Schedule-itemWrapper {
  overflow: hidden;
  background: white;
  position: relative;
  padding-left: 80px;
  overflow: hidden;

}
.Schedule-item.has-top-border, .Schedule-itemWrapper.has-top-border {
  border-top: 1px solid rgb(220,220,220);
}
.Schedule-time {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  line-height: 80px;
  font-size: 14px;
  text-align: center;
  color: rgb(53,55,54);
}
.Schedule-session {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 14px 30px 14px 10px;
  will-change: background;
  line-height: 1.4;
  -webkit-transition: background .3s;
  transition: background .3s;
  border-bottom: 1px solid rgb(220,220,220);
  position: relative;
  overflow: hidden;
}
.Schedule-session.is-last {
  border-bottom: none;
  /*background: rgba(215, 253, 236, 0.82);*/
}
.Schedule-session.is-active {
  background: #fff3f3;
}
.Schedule-session:hover {
  background: #fff3f3;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.Schedule-venue {
  display: inline-block;
  padding: 1px 5px;
  margin-bottom: 5px;
  font-size: 14px;
  background: rgb(220,220,220);
  border-radius: 12px;
  color: gray;

}
@media screen and (min-width: 776px){

  .Schedule-session {
    display: flex;
  }
  .Schedule-meta {

  }
  .Schedule-main {
    margin-left: 8px;
    flex: 1;
  }
}
.Schedule-presenter {
  color: rgb(125,124,123);
  font-size: 14px;
  margin-left: 1px;
}
.Schedule-en {
  color: rgb(207,43,43);
  display: inline-block;
  padding: 0 4px ;
}
.Schedule-categoryIcon {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: transparent;
  will-change: background;
  -webkit-transition: background .3s;
  transition: background .3s;
}

} /* ends :global */