.root {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #CB0031;
  color: #FFF;
  display: flex;
  opacity: 0.94;
  box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.50);
  z-index: 50;
}

.ham {
  display: none;
  cursor: pointer;
}

.brand {
  display: flex;
  width: 100%;
}

.title {
  float: left;
  font-family: Audiowide;
  margin: 0;
  text-transform: uppercase;
  padding: 13px 18px 0 26px;
}

.title a {
  text-decoration: none;
  color: #FFF;
}

.live {
  float: left;
  display: inline-block;
  padding-top: 13px;
}

.menu {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 60px;
  margin-left: 5px;
}

.item {
  display: inline-block;
  height: 100%;
}

.item a,
.item span {
  display: block;
  height: 100%;
  padding: 21px 12px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
}

.item a {
  text-decoration: none;
  color: #FFF;
}

.item a.active {
  background-color: #FFF;
  color: #000;
  text-decoration: none;
}

.item:hover {
  background-color: #FFF;
  color: #000;
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.50);
}
.item:hover a,
.item:hover span {
  color: #000;
}

.lang {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
}

.button {
  display: inline-block;
  color: #FFF;
  padding: 21px 5px 0 0;
  height: 100%;
  line-height: 1;
  width: 80px;
  text-decoration: none;
  text-align: right;
  cursor: pointer;
}

.button:hover {
  color: #000;
}

@media screen and (max-width: 1024px) {
  .root {
    display: block;
  }

  .brand {
    margin-left: 20px;
  }

  .ham {
    display: block;
    margin-top: 4px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5);
  }

  .ham path {
    fill: #FFF;
  }

  .ham:hover path {
    fill: #000;
  }

  .menu {
    margin-left: 0;
  }

  .item {
    display: block;
    width: 100%;
    background-color: #CB0031;
  }

  .active {
    background-color: #FFF;
  }

  .button {
    width: 64px;
    padding-right: 12px;
  }
}

@media screen and (max-width: 430px) {
  .title {
    padding: 13px 5px 0 21px;
    font-size: 16px;
    line-height: 36px;
  }

  .lang > .button {
    padding-right: 8px;
  }
}
