.root {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #CB0031;
  color: #FFF;
  display: flex;
  opacity: 0.94;
  box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.50);
  z-index: 50;
}

.ham {
  display: none;
  cursor: pointer;
}

.brand {
  display: flex;
  width: 265px;
}

.title {
  margin: 0;
  text-transform: uppercase;
  padding: 13px 18px 0 26px;
}

.live {
  display: inline-block;
  padding-top: 13px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 60px;
}

.item {
  display: inline-block;
  height: 100%;
  padding: 14px 26px 18px 26px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
}

.item a {
  text-decoration: none;
  color: #FFF;
}

@media screen and (max-width: 830px) {
  .root {
    display: block;
  }

  .brand {
    margin-left: 20px;
  }

  .title {
    padding-top: 7px;
    padding-right: 7px;
  }

  .live {
    padding-top: 7px;
  }

  .ham {
    display: block;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5);
  }

  .ham path {
    fill: #FFF;
  }

  .ham:hover path {
    fill: #000;
  }

  .menu {
    margin-top: 15px;
  }

  .item {
    display: block;
    width: 100%;
    background-color: #CB0031;
  }
}

.active {
  composes: item;
  background-color: #FFF;
  color: #000;
}

.active a {
  text-decoration: none;
  color: #000;
}

.item:hover {
  background-color: #FFF;
  color: #000;
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.50);
}

.lang {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
}

.button {
  display: inline-block;
  color: #FFF;
  padding: 14px 10px 0 0;
  height: 100%;
  width: 94px;
  text-decoration: none;
  text-align: right;
  cursor: pointer;
}

.button:hover {
  color: #000;
}
