.root {
  background: #FFFFFF;
  box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.50);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.94);
  padding-top: 1px;
  padding-bottom: 103px;
  color: #000;
}

.wrapper {
}

.header {
  margin-top: 55px;
  margin-bottom: 30px;
}
.subheader {
  margin-top: 2em;
  margin-bottom: 1em;
}

@media screen and (min-width: 830px) {
  .description, .root section {
    width: 665px;
    text-align: left;
    margin: 0 auto 0;
    clear: both;
  }

  .title {
    display: inline-block;
  }

  .button {
    display: inline-block;
  }
}

.description {
  margin: 1em auto 1em;
  padding-left: 15px;
  padding-right: 15px;
}

.links {

}

.description img {
  margin: 1rem;
  float: left;
  width: 160px;
  height: 160px !important;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  background-color: rgba(254, 220, 117, 0.74);
}

.title {
  padding-top: 5px;
  margin-right: 54px;
  line-height: 22px;
  padding-bottom: 10px;
}

.button {
  background-color: #FFF;
  height: 46px;
  padding: 11px 46px 13px 47px;
  border: 2px solid #000000;
  border-radius: 4px;
  line-height: 22px;
  cursor: pointer;
}

.button:not(:last-child) {
    margin-right: 42px;
}

.active {
  composes: button;
  background-color: #CB0031;
  color: #FFF;
}

@media screen and (max-width: 830px) {
  .button {
    padding: 12px 24px;
  }
  
  .button:not(:last-child) {
    margin-right: 21px;
  }
    
  .title {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
